-if @current_user
  = button_to "Log Out", logout_path, method: :delete

%h1 Add New Link:
=form_for @link, url: link_index_path do |f|
  Title:
  =f.text_field :title
  Url:
  =f.text_field :url
  =f.submit

%h1 Links:
-@links.each do |link|
  .link
    %h2= link.title
    %h3= link.url
    %p= "Status: #{link.status}"
